---
import Layout from '../../layouts/Layout.astro';
import '../../styles/home.css';
---
<Layout>
  <main class="about-work-container">
    <header class="header">
    <h1 class="title">目前工作</h1>
    </header>
    <p>
      我目前供职于 <strong>安诺优达基因科技（北京）有限公司</strong>，驻地江苏，岗位为企业端销售。主要熟悉 NGS 测序的一些知识，也是公司一些在线产品的参与者。
    </p>
    <p>
      我于 2022 年 7 月入职。入职以来，认识了许多同事、同行和老师，也加深了对这个行业各个角度的理解和体会。
    </p>
  </main>
</Layout>